div.chart{
	font-weight: 300;
	width: 100%;
	padding: 0;
    margin-top: 20px;
    text-align: center;
}

div.chart, #chartsearchform {
    font-size: 12px;
}

.chart-con {
    font-family: "LFT Etica", Helvetica, sans-serif;

    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 100%; 
    border: 1px solid rgb(215,215,215);
    box-shadow: rgba(0,0,0,0.1) 0 0 3px;
    border-radius: 3px;
    padding: 20px;
}

.chart-con h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

.chart-con p {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
}


.halfwidth {
    width: 50%;
}
.chart h2 {
    color: #444;
}
.chart h3 {
    color: #777;
    font-style: italic;
    font-weight: normal;
}


#chartsearchform {
    margin-top: 20px;
    text-align: center;
}
#chartsearchform .searchbar {
    width: 30%;
    padding: 5px;
    margin-right: 20px;
}

#chartsearchform .campuses {
    list-style: none;
    display: inline-block;
}
#chartsearchform .campuses li {
    display: inline-block;
    margin-left: 20px;
}
#chartsearchform .campuses li:first-of-type {
    margin-left: 0;
}




.chart .axis path, .chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.chart .reference-line {
    stroke: #999;
    stroke-width: 1.3px;
}


.chart .dot {
    fill: lightblue;
}
.chart .dot:hover {
    fill: darkblue;
}

.chart .searchresult {
    fill: red;
}
.chart .hidden {
    display: none;
}

/* http://bl.ocks.org/Caged/6476579 */
.d3-tip {
    pointer-events:none;
    line-height: 1;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;

    max-width: 400px;
    max-height: 300px;
}
.d3-tip span {
    color: #999;
}