mixin search_filters(filter_campuses)        
    form#chartsearchform
        input(type="text" placeholder="Search").searchbar
        select#facultyselector
    
        if filter_campuses
            ul.campuses
                li
                    input(type="checkbox" name="campus-van" checked)#checkbox-van
                    label(for="checkbox-van") Vancouver
                li
                    input(type="checkbox" name="campus-oka" checked)#checkbox-oka
                    label(for="checkbox-oka") Okanagan