div.chart{
	font-family: "LFT-Etica", Impact, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
	width: 100%;
	padding: 0;
    margin-bottom: 50px;
    margin-top: 30px;
}


.halfwidth {
    width: 50%;
}
.chart h2 {
    text-align: center;
    color: #444;
}
.chart h3 {
    text-align: center;
    color: #777;
    font-style: italic;
    font-weight: normal;
}


#searchform {
    text-align: center;
    font: 12px Helvetica, sans-serif;
}
#searchform .searchbar {
    margin-right: 20px;
    margin-left: 20px;
}

#searchform .campuses {
    list-style: none;
    display: inline-block;
}
#searchform .campuses li {
    display: inline-block;
    margin-left: 20px;
}
#searchform .campuses li:first-of-type {
    margin-left: 0;
}




.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.dot {
    fill: lightblue;
}

.dot:hover {
    fill: darkblue;
}

.searchresult {
    fill: red;
}

/* http://bl.ocks.org/Caged/6476579 */
.d3-tip {
    pointer-events:none;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;

    max-width: 400px;
    max-height: 300px;
}
.d3-tip {
    font-size: 11px;
}
.d3-tip span {
    color: #999;
}

.reference-line {
    stroke: #999;
    stroke-width: 1.3px;
}



.hidden {
    display: none;
}